:root {
    --bs-1: #36169e;
    --bs-2: #7113c9;
    --bs-3: #EB3678; 
    --bs-4: #FB773C;
    --bs-5: #1b1b1b;
    --bs-6: #ffffff;
    font-size: 12px;
}

body {
    background-color: var(--bs-1);
}

@keyframes alternate-bs {
    0% {
        background-color: var(--bs-3);
        transform: rotate(0deg);
    }
    25% {
        background-color: var(--bs-2);
        transform: rotate(90deg);
    }
    50% {
        background-color: var(--bs-3);
        transform: rotate(180deg);
    }
    75% {
        background-color: var(--bs-4);
        transform: rotate(270deg);
    }
    100% {
        background-color: var(--bs-3);
        transform: rotate(360deg);
    }
}

.blob-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -1;
    animation: rotate-bs 5s infinite linear;
    scale: 2.5;
    filter: blur(40px);    
}

@keyframes rotate-bs {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.blob {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    animation: alternate-bs 15s infinite linear; 
    transition: all 0.5s;
    background-color: var(--bs-3);
    position: absolute;
}

.blob:nth-child(2) {
    animation-delay: 0.2s;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.blob:nth-child(3) {
    animation-delay: 0.5s;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.blob:nth-child(4) {
    animation-delay: 0.7s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.signup {
    padding: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    height: 100%;
}   

.text span{
    font-family: "poppins", sans-serif;
    font-weight: 500;
    color: var(--bs-6);
    font-size: 8.5rem;
}

.text .s {
    font-size: 3rem;
    font-weight: 300;
}

.buttons {
    margin-top: 8rem;
}

.buttons div{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    background-color: var(--bs-5);
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    color: var(--bs-6);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
    font-family: poppins;
    font-size: 1.5rem;
    justify-content: center;
    border: solid 3px var(--bs-4);
}   

.buttons img {
    width: 30px;
    height: 30px;
}

.apple {
    background-color: var(--bs-6) !important;
    color: var(--bs-5) !important;
}

.email {
    background-color: var(--bs-4) !important;
    color: var(--bs-6) !important;
}

.switcher {
    position: relative;
    width: 100%;
    height: 8.5rem;   
    overflow: hidden;
}


.s-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-52%);
    animation: up 3s infinite ease-in-out;
}

@keyframes up {
    0% {
        transform: translateY(-4%);
    }
    12.5% {
        transform: translateY(-4%);
    }
    25% {
        transform: translateY(-20%);
    }
    37.5% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-36%);
    }
    62.5% {
        transform: translateY(-36%);
    }
    75% {
        transform: translateY(-54%);
    }
    100% {
        transform: translateY(-54%);
    }
}