body {
    background-color: var(--bs-8) !important;
}

nav {
    background-color: var(--bs-2) !important;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.scope-img {
    background-color: var(--bs-4) !important;
    padding: 0.5rem;
    border-radius: 1rem;
}

.scope-img img {
    width: 6rem;
    height: auto;
    object-fit: cover;
}

.scope-text .title {
    font-size: 1.5rem;
    font-weight: 500;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.right-now {
    padding: 0.5rem 1rem;
}

.sub-club-sec {
    display: flex;
    gap: 0.5rem;
    padding: 0.1rem;
}

.sub-club {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--bs-8);
    padding: 0.7rem;
    border-radius: 1rem;
    width: 100%;
    justify-content: space-between;
}

.sub-club .top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sub-club .club-emj {
    font-size: 2rem;
    background-color: var(--bs-9);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 6.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags {
    display: flex;
    gap: 0.1rem;
    flex-wrap: wrap
}

.club-name {
    font-size: 1rem;
    font-weight: 500;
}

.tags span {
    background: var(--bs-10);
    padding: 0.1rem 0.3rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.button-sec {
    width: 100%;
}

.button-sec button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--bs-7);
    color: var(--bs-4);
}

.club-sec {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.club {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bs-2);
    border-radius: 1rem;
}

.club .club-emj {
    width: 6rem;
    height: 6rem;
    background-color: var(--bs-9);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.club .club-info {
    display: flex;
    flex-direction: column;
}

.club .club-name {
    font-size: 2rem;
    font-weight: 500;
}

.club .tags {
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
}

.club .tags span {
    background: var(--bs-10);
    padding: 0.2rem 0.3rem;
    font-size: 1rem;
}