body{
  background-color: var(--bs-2);
}

.cont {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 0.6rem;
}

.sec {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inp-2 {
  border: solid 1px var(--bs-2);
  background-color: var(--bs-1);
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: var(--bs-6);
  outline: none;
}

.search {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.search-div {
  width: 100%;
  background-color: var(--bs-1);
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.search.active {
  animation: search-ani 0.5s ease forwards; 
}

.blur {
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: none;
}

@keyframes search-ani {
  0% {
    position: relative;
    width: 0;
  }
  100% {
    position: absolute;
  top: 0; 
  left: 0;
  z-index: 100;
  padding: 1rem;
  width: 100%;
  }
}

.search-div input {
  background-color: none;
  border: none;
}

.bubble {
  background-color: var(--bs-1);
  padding: 0.5rem;
  border-radius: 0.9rem;
}

.bubble.v1-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bb-text.v1-2 {
  display: flex;
  flex-direction: column;
}

.bb-text.v1-2  .title {
  font-size: 1.6rem;
  font-weight: 600;
}

.bb-text.v1-2  .title.small {
  font-size: 1.2rem;
  font-weight: 600;
}
.tags {
  opacity: 0.7;
}

.bb-img {
  background-color: var(--bs-3);
  height: 100%;
  width: 4rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.bb-img.small {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
}

.tag {
  background-color: var(--bs-2);
  padding:0.1rem 0.3rem;
  border-radius: 0.3rem;
}