.phm-nav {
    background-color: var(--bs-2);
    color: var(--bs-4);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

body {
    /* background-color: var(--bs-8) !important; */
}

.phm-greet {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2.5rem;
}

.phm-profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.phm-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.phm-scopes .scope {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: var(--bs-2);
    border-radius: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}

.phm-scopes .scope:hover {
    scale: 1.02;
    transition: 0.1s;
}


.phm-scopes .scope img {
    width: 5rem;
    object-fit: cover;
}


.phm-scopes .scope.blue {
    background-color: rgb(56, 96, 182);
}

.phm-scopes .scope.green {
    background-color: rgb(56, 182, 96);
}

.phm-scopes .scope.red {
    background-color: rgb(182, 56, 56);
}

.phm-scopes .scope.yellow {
    background-color: rgb(182, 182, 56);
}

.phm-scopes .scope.orange {
    background-color: rgb(182, 96, 56);
}

.phm-scopes .scope.purple {
    background-color: rgb(96, 56, 182);
}

.phm-scopes .scope.orange {
    background-color: rgb(182, 96, 56);
}


.scope-img {
    background-color: rgba(7, 36, 97, 0.5) !important;
    display: inline-block;
    border-radius: 1.3rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blue .scope-img {
    background-color: rgba(7, 36, 97, 0.5) !important;
    display: inline-block;
    border-radius: 1.3rem;
    width: 11rem;
}

.phm-scopes .scope.red {
    background-color: rgb(182, 56, 56);
}

.red .scope-img {
    background-color: rgba(97, 7, 7, 0.5) !important;
    display: inline-block;
    padding: 1rem;
    border-radius: 1.3rem;
    width: 11rem;
}


.scope-text {
    width: 100%;
}

.scope-text .title {
    font-size: 2rem;
    font-weight: 600;
}