@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    font-size: 9px;

    --bs-1: #181c14;
    --bs-2: #3c3d37;
    --bs-3: #517e51;
    --bs-4: #ecdfcc;
    --bs-5: #8e40b3;
    --bs-6: #ffffff;
    --bs-7: #c09d2b;
    --bs-8: #303030;
    --bs-9: #D0A866;
    --bs-10: #51604291;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    overflow: hidden;
    color: white;
}

button {
    transition: all 0.5s;
}
.not-available {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0.7rem;
    background-color: var(--bs-10) !important;

}



.customscroll {
    overflow-y: auto;
    height: 100%;
}

.customscroll::-webkit-scrollbar {
    width: 0.5rem;
}

.customscroll::-webkit-scrollbar-thumb {
    background-color: var(--bs-10);
    border-radius: 1rem;
}

.customscroll::-webkit-scrollbar-track {
    background-color: var(--bs-2);
}       

.overflow-hidden {
    overflow: hidden !important;
}

.close {
    rotate: 45deg;
    background-color: var(--bs-1);
    padding: 1rem;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}

.App {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.app-signUp {
    background-color: var(--bs-8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-signUp form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.app-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.app-holder::-webkit-scrollbar {
    width: 0.25rem;
}

.app-holder::-webkit-scrollbar-track {
    background: #1e1e24;
}

.app-holder::-webkit-scrollbar-thumb {
    background: var(--bs-4);
}

.app-holder::-webkit-scrollbar-thumb:hover {
    background: var(--bs-3);
}

/* .show {
    animation: toLeft 0.5s ease forwards; 
}

@keyframes toLeft {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}

.no-show {
    animation: toRight 0.5s ease forwards; 
}

@keyframes toRight {
    0% {
        transform: translate(0%, -100%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.stepBystep {
    background-color: var(--bs-3) !important;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    box-sizing: border-box;
    padding: 2rem;
} */

.w-fc {
    width: fit-content !important;
}

.app-home {
    background-color: var(--bs-8);
}

.show {
    display: none !important;
}

.app-clubs {
    background-color: var(--bs-8);
    display: block;
}

.stepBystep form {
    height: 60vh;
    width: 100%;
}

.club-chats-section {
    background-color: var(--bs-8);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
 
h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0rem;
}

.txt-1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0rem;
}


.dots {
    display: flex;
    gap: 1rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--bs-6);
    cursor: pointer;
}

.dot.active {
    background-color: var(--bs-7);
}

.form-sec form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

input {
    outline: none;
    border: none;
}

form input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--bs-2);
    color: var(--bs-4);
    font-size: 1.2rem;
    outline: none;
}

::placeholder {
    color: var(--bs-4);
}

.btn-2 {
    background-color: var(--bs-7);
    color: var(--bs-4);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

.mm-w100 {
    width: 100%;
}

.box {
    width: 100%;
    background-color: var(--bs-2);
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.button-sec {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.btn-1 {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--bs-7);
    color: var(--bs-4);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
    outline: none;
    width: 100%;
}

.non-available {
    cursor: not-allowed;
    background-color: var(--bs-2);
    color: var(--bs-4);
    opacity: 0.5;
}

.slides {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.form-sec {
    position: absolute;
    top: 0;
    left: 0%;
    filter: blur(15px);
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.active-slide {
    display: flex;
    filter: blur(0px);
    opacity: 1;
    pointer-events: all;
}


.intrests-sec {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.intrest {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--bs-2);
    color: var(--bs-4);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}



/* Screen breakpoints */
@media (max-width: 576px) {
    /* Extra small devices (phones, less than 576px) */
}

@media (min-width: 576px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 992px) {
    /* Medium devices (small laptops, 768px and up) */
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* Large devices (laptops/desktops, 992px and up) */
}

@media (min-width: 1200px) {
    /* Extra large devices (large laptops and desktops, 1200px and up) */
}

section {
    padding: 2rem;
}

section h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0rem;
}

.bubble {
    background-color: var(--bs-2);
    border-radius: 1rem;
}

.inp-2 {
    background-color: var(--bs-10);
    padding: 1rem;
    border-radius: 4rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);  
    font-size: 1.8rem;  
    color: var(--bs-6)  ;
}

::placeholder {
    color: rgba(105, 105, 105, 0.493);
}